@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Zilla Slab;
}

/* [data-theme="storycheque"] .input {
  border-radius: 0px;
}

[data-theme="storycheque"] .btn {
  background-color: "#1A1A1A";
} */
